html, body {
  background-color: white;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  height: 100%;
  font-size: 16px;
  color: #222;
  background-color: #f4f5f5;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  color: #fc7d3d;
}
.active {
  color: #fc7d3d;
}
input, textarea {
  padding: 4px 4px;
  outline: none;
  border: 1px solid #dcdfe6;
}
